h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    font-size: 60px;
    font-weight: normal;

}


p{
    background-color: #f6c453;
    width: 550px;
    text-align:left;
    border-radius: 15px;
    border: 8px inset;
    padding-inline: 30px;
    padding-top: 15px ;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    margin: auto;

}




button{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: black;
    width: 270px;
    height: 60px;
    border-radius: 15px;
    
}

.rbut{

    margin-top: 70px;
    float: right;
    margin-right: 440px;
    
}

.lbut{

    margin-top: 70px;
    float: left;
    margin-left: 440px;
    
}

pre{
    margin-top: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-align: right;

}

iframe{
    display: inline-block;
    margin-top: 178px;
    margin-left: 473px;
    border-radius: 15px;
    border: 10px inset;

}

.space{
    height: 40px;
}

html{
    background: url(That.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


